<li class="portfolio-list__item">
  <div class="portfolio-list__div">
    <picture>
      <source srcset="{{images.desktop.[0]}} 1x, {{images.desktop.[1]}} 2x, {{images.desktop.[2]}} 3x" media="(min-width: 1200px)">
      <source srcset="{{images.tablet.[0]}} 1x, {{images.tablet.[1]}} 2x, {{images.tablet.[2]}} 3x" media="(min-width: 768px)">
      <source srcset="{{images.mobile.[0]}} 1x, {{images.mobile.[1]}} 2x, {{images.mobile.[2]}} 3x" media="(max-width: 767px)">
      <img class="portfolio-list__img" src="{{images.default}}" alt="{{title}}">
    </picture>
    <div class="portfolio-list__div--active">
      <p>{{description}}</p>
    </div>
  </div>
  <div class="portfolio-list__box">
    <h3 class="portfolio-list__paragraph">{{title}}</h3>
    <p class="portfolio-list__text">{{type}}</p>
  </div>
</li>
